<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
 <% if @trainer == current_trainer %>
 <%= link_to "Create a new pokemon!", pokemons_new_path(trainer: @trainer), :class => "button medium" %>
<% end %>
<table border="1">
	<tbody>
		<tr>
			<td>id</td>
			<td>pokemon</td>
			<td>level</td>
			<td>health</td>
			<td>action</td>
		</tr>
	<% pokemons = Pokemon.where(trainer: @trainer)%>
	    <% pokemons.each do |pokemon| %>
	    <tr>
	    	<td><%= pokemon.id %></td>
	      <td><%= pokemon.name %></td>
	     <td><%= pokemon.level %></td>
	     <td><%= pokemon.health %></td> 
	   	<td> <%= button_to "Damage!", damage_path(trainer: @trainer, pid: pokemon.id), :class => "button medium", :method => :POST %></td>
	    </tr>
  	<% end %>
	</tbody>
</table>